:root {
  --background: rgb(0, 0, 0);
  --main-text: lightgray;
  --marked-text: black;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--background);
  color: var(--main-text);
}
.title {
  align-content: center;
  color: red;
  font-size: 40px;
}
.list-point {
    margin-bottom: 15px;
}
a {
  color: var(--main-text);
}
a:visited {
  color: gray;
}
a:hover,
a:active {
  color: white;
}
.mark-rg {
  background-color: rgb(170, 115, 233);
  color: var(--marked-text);
}
.mark-location {
  background-color: rgb(95, 137, 243);
  color: var(--marked-text);
}
.mark-tag {
  background-color: rgb(61, 202, 48);
  color: var(--marked-text);
}
.mark-name {
  background-color: rgb(211, 148, 13);
  color: var(--marked-text);
}
.mark-login {
  background-color: rgb(221, 103, 133);
  color: var(--marked-text);
}
.mark-password {
  background-color: rgb(218, 97, 97);
  color: var(--marked-text);
}
.mark-ip {
  background-color: rgb(230, 226, 9);
  color: var(--marked-text);
}
.mark-acr {
  background-color: rgb(109, 138, 150);
  color: var(--marked-text);
}
.mark-repo {
  background-color: rgb(169, 172, 37);
  color: var(--marked-text);
}
.mark-acr-context {
  background-color: rgb(86, 138, 197);
  color: var(--marked-text);
}
.mark-desc {
  background-color: rgb(0, 0, 0);
  color: var(--main-text);
}
.mark-option {
  background-color: rgb(28, 169, 194);
  color: var(--marked-text);
}
